// /* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
// $custom-typography: mat-typography-config(
//    $font-family: 'Montserrat',
  

  
// );

// @include mat-base-typography($custom-typography);

* {
    font-family: 'Montserrat';
    font-weight: 200;
}

body{
    margin: 0;
    
    font-family: 'Montserrat';
    
}

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-Medium.ttf) format("truetype");
  }


